OPENAI_API_KEY="key"
JUPYTERHUB_URL=http://localhost:8533
#Keep course name the same as directory name in ./studentConntainers/courses/
COURSE_NAME="courseone"
STUDENT_IMAGE_NAME="courseone"
#COURSE_NAME and IMAGE_NAME have to be  in full lowercase without any numbers or symbols.

MONGO_INITDB_ROOT_USERNAME=ranDumUs8er99991
MONGO_INITDB_ROOT_PASSWORD=randomPassWord99919